* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eaeaea;
  height: 100%;
}

.img-background {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

.img-background img {
  opacity: 0.75;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
