.rank-info-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 30px;
}

.div-winrate {
  height: 150px;
}

.div-box-info {
  border: 1px solid #cdd2d2;
  box-shadow: 0 1px #dcdfdf;
  background: #f2f2f2;
  border-radius: 2px;
  width: 49.5%;
  margin-top: 20px;
}

.div-box-info span {
  position: absolute;
  padding: 5px;
  color: #879292;
}

.img-league {
  width: 150px;
}

.img-league img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.img-league p {
  text-align: center;
  color: #242929;
}

.stats-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.div-account {
  width: 75%;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 20px;
}

.div-account span {
  color: #242929;
  font-size: 20px;
  font-weight: bold;
}

.img-summoner-icon {
  width: 150px;
  padding: 20px;
}

.img-summoner-icon img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border: 1px solid #323232;
  box-shadow: 0 1px #010101;
}

.div-ranked {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width:768px){
  .div-account {
    border: 1px solid #cdd2d2;
    box-shadow: 0 1px #dcdfdf;
    background: #f2f2f2;
    border-radius: 2px;
    width: 100%;
    justify-content: center;
  }

  .img-summoner-icon {
    width: 120px;
  }

  .div-box-info {
    width: 100%;
  }

  .div-ranked {
    width: 100%;
    flex-direction: column;
  }
}
